.auth{
    min-height: 100vh;
    background-color: #eee;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        background-color: #fff;
        padding: 3rem 2rem;
        border-radius: 5px;
        width: 30%;
        max-width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;

        h1{
            margin-bottom: 2rem;
        }

        input{
            font-size: 1.2rem;
            margin: 1rem 0;
            padding-bottom: .5rem;
            border-bottom: 1px solid #0008;
            transition: .2s all;

            &:focus{
                border-bottom: 2px solid $blue;
            }
        }

        .btn{
            width: max-content;
            margin-top: 1.5rem;
        }

        .switch{
            margin-top: .25rem;
            a{
                color: $blue;
            }
        }
    }

    .err{
        color: orangered;
    }
}