.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 3.5rem;
  }

  h4 {
    font-size: 2rem;
    opacity: 0.6;
    margin-bottom: 3rem;
  }

  .btn {
    margin: 1rem;
  }

  .buttons {
    margin-top: 1rem;
  }
}

.home {
  min-height: 100vh;
  background-color: #eee;
  display: flex;

  h1 {
    text-align: center;
    margin: 10px 0;
  }
  .historyWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }
  .history {
    background-color: #fff;
    padding: 3rem 2rem;
    border-radius: 5px;
    width: 100%;
    flex: 40%;
    margin: 15px;
    display: flex;
    flex-direction: row;
    img {
      width: 15rem;
      height: 20rem;
    }
  }
  form {
    background-color: #fff;
    padding: 3rem 2rem;
    border-radius: 5px;
    width: 70%;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;

    h3 {
      text-align: center;
    }
    input {
      font-size: 1.2rem;
      margin: 1rem 0;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #0008;
      transition: 0.2s all;

      &:focus {
        border-bottom: 2px solid $blue;
      }
    }
  }

  .userDetails {
    background-color: #fff;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    margin-bottom:  3rem;
  
    width: 100%;
    height: 15rem;
    
    display: flex;
    flex-direction: row;
     .profile-picture{
         height: 12rem;
         border-radius: 50%;
         margin-right: 5rem;
     } 
   
    
  }

  .btn {
    width: max-content;
    margin-top: 1.5rem;
  }

  aside {
    flex: 1;
    min-height: 100vh;
    
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    h2 {
      color: #265BFF;
      margin-bottom: 3rem;
    }
    button{
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  main {
    flex: 6;
  }

  button {
    cursor: pointer;
    transition: 0.2s all;
    font-size: 1.25rem;
    text-align: left;
    padding: 1rem 0;

    &:hover {
      color: $blue;
    }
}

.doc-modal{
    background-color: #fff;
    width: 50%;
    min-height: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 2px 2px 200px #0002;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4{
        margin-top: 1rem;
        opacity: .7;
    }
}

}

.merchant-dashboard{
  display: flex;
  align-items: stretch;

  form{
    flex: 1;
  }

  .top{
    flex: 4;
  }
}

.items{
  background-color: #fff;
  margin: 1rem;
  padding: 1rem;

  *{
    margin: .5rem 0;
  }

  .delete{
    background-color: #ff4500;
    color: #fff;
    width: max-content;
    padding: .25rem .5rem;
    cursor: pointer;
  }
}

.admin{
  display: flex;
  min-height: 100vh;
  section{
    flex: 1;
    margin: 1rem;
    background-color: #fff;

    h1{
      text-align: center;
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }

  .item{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #0003;
    border-bottom: 1px solid #0003;
align-items: center;
    margin: 1rem;

    .verify{
      color:#212121;
      transition: .2s all;
      &:hover{
        color:$blue
      }
    }
  }
}

.find-meds{
  background-color: #fff;

  input{
    font-size: 1.5rem;
    border-bottom: 1px solid #0003;
    margin: 1rem;
  }

  .data{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #0003;

    *{
      margin: .25rem 0;
    }
  }
}